<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" href="{{ WEIXIN_STATIC_URL }}css/index.css">
</head>
<body>
	<div class="container">
	  	<div class="logo-wrapper">
	    	<img class="logo" src="{{ WEIXIN_STATIC_URL }}img/logo.png" />
	  	</div>
	  	<p>{{ request.user.username }}({{ request.weixin_user.userid }})，欢迎您进入蓝鲸智云SaaS开发框架——微信公众号H5示例应用。</p>
	  	<p>为了帮助开发者快速完成SaaS开发，蓝鲸智云PaaS平台提供了完善的前后台开发框架、调度引擎、公共组件等模块，适用于PC端和移动端，并对接了微信公众号、小程序等鉴权体系，帮助产品和技术人员快速构建低成本、免运维的支撑工具和运营系统。
	  	</p>
	  	<p>前往<a href="https://magicbox.bk.tencent.com/#mobile/show" target="_blank">蓝鲸Magicbox</a>查看更多移动端组件</p>
	</div>
</body>
</html>
